<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main site</title>
</head>
<body>
<h1>Booking conference rooms</h1>

<div>Conference rooms list
    <ul>
        <li>1</li>
    </ul>
</div>

<div>
    <div>Add new conference room</div>
    <form action=""></form>


</div>


<!--<div> Do EDYCJI!!!-->
<!--    <form class="create_conf_room" method="post" action="">-->
<!--        {% csrf_token %}-->
<!--        <label>Home team:</label><br>-->
<!--        <select name="home_team">-->

<!--            {%for team in teams%}-->
<!--            {% if team.id == team_home_id %}-->
<!--            <option value="{{team.id}}" selected>{{team.name}}</option>-->
<!--            {% else %}-->
<!--            <option value="{{team.id}}">id: {{team.id}}, team: {{team.name}}</option>-->
<!--            {% endif %}-->
<!--            {% endfor%}-->
<!--        </select>-->
<!--        <input class="person_form" name="home_team" type="text" maxlength="32" value="home team points  "/><br>-->
<!--        <label>Away team:</label><br>-->
<!--        <select name="away_team">-->
<!--            {%for team in teams%}-->
<!--            <option value="{{team.id}}">id: {{team.id}}, team: {{team.name}}</option>-->
<!--            {% endfor%}-->
<!--            <input class="person_form" name="away_team" type="text" maxlength="32" value="away team points  "/><br>-->
<!--            <button class="person_form" type="submit" name="submit" value="">Add!</button>-->

<!--    </form>-->
<!--</div>-->

<footer>
    <div>Footer</div>
    <div>Author Kamil Łaski</div>
</footer>
</body>
</html>